extends layout

block content  
    //- input#autocomplete(placeholder='Enter your address', onfocus='geolocate()', type='text')
    .container
      br
      img(src='/images/UberLens-logo-inline-cropped.png', margin-bottom="100px")
      br
      .jumbotron
        //- h2 Jumbotron heading
        form
          .form-group
            label(for='autocompleteorigin') Where you at
            input#autocompleteorigin(type='text', placeholder='e.g. 1999 Burdett Ave, Troy NY, 12180')
          .form-group
            label(for='autocompletedestination') Where you're goin
            input#autocompletedestination(type='text', placeholder='e.g. Molly Moon\'s Ice Cream')
          .form-group
            label(for='exampleInputPassword1') How far are you willing to walk to your destination from your Uber drop off?
            br
            label.radio-inline
              input#inlineRadio1(type='radio', name='inlineRadioOptions', value='option1')
              |  5 minutes
            label.radio-inline
              input#inlineRadio2(type='radio', name='inlineRadioOptions', value='option2')
              |  10 minutes
            label.radio-inline
              input#inlineRadio3(type='radio', name='inlineRadioOptions', value='option3')
              |  15 minutes

          button.btn.btn-primary(type='submit') Save $$$'s 

      footer.footer
        p © 2017 Adam Lawrence
        p in/adamadlawrence.
        p https://github.com/adamalawrence/UberLens
