doctype html
html
  head
    title= title
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(aysnc, defer, src="https://maps.googleapis.com/maps/api/js?key=ENTERKEYHERE=places&callback=initAutocomplete")
    script(src="/javascripts/main.js")
  body
    block content
